$primary: #86a2ba;
$secondary: #b23d56;
$dark: #0c090d;
$light: #f4f7f6;
$info: #271c2d;
$success: #5dab70;
$warning: #db9b38;
$danger: #f44336;

// Nepal	#86a2ba	Primary
// Bleached Cedar	#271c2d	Info
// Aqua Forest	#5dab70	Success
// Anzac	#db9b38	Warning
// Pomegranate	#f44336	Danger

// (primary: $blue, secondary: $gray-600, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800)
